
html, body {
    height: 100%;
    width:  100%;
}

body {
    background-color: #fff;
    margin: 0;
    font-family: Helvetica, sans-serif;;
    /*overflow: hidden;*/
     /*overflow-x: hidden;*/
}

#representacion_3D{
    height: 100%;
    width: 100%;
}
#editor{                           /* Elemento resizable y draggable */
    position : absolute;   
    height   : 250px;
    width    : 250px;
}


/**************************************************
*  CodeMirror Base
***************************************************/
    /**/
        .CodeMirror-myborder{
            border: solid aliceblue;
        }

        .CodeMirror-selected     { background-color:transparent !important; }  /*<<#1>>*/
        .CodeMirror-selectedtext { /*background-color: #49483E !important;*/}  /*<<#2>>*/

    /*  Abarcara en alto el 100% de su contenedor (#editor)  */
        .CodeMirror{    
            height   : 100%;
        }
    /*  icono de error y tooltop sobre el icono  */
        .CodeMirror-my-markers{
            width: 6px;
        }
        .CodeMirror-my-mark-error.lock{
            color: orange;
        }
        .CodeMirror-my-mark-error {
            position: relative;
            display: inline-block;
            color: red;
            margin-left: 5px;
        }
        .CodeMirror-my-mark-error .CodeMirror-my-mark-tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            top: -5px;
            left: 105%;
        }
        .CodeMirror-my-mark-error:hover .CodeMirror-my-mark-tooltiptext {
            visibility: visible;
        }

    /*  ToolTip sobre el texto marcado  (indica si esa linea ya se ejecuto o se ejecutara) */
        .EditorTooltipMarcatexto{
            display: inline;
            position: relative;
        }
        .EditorTooltipMarcatexto:hover:after{
            background: #333;
            background: rgba(0,0,0,.8);
            border-radius: 6px;
            bottom: 10px;
            color: #fff;
            font-family: "Times New Roman", Times, serif;
            font-size: 16px;
            content: attr(title);
            left: 20%;
            padding: 5px 15px;
            position: absolute;
            z-index: 10;
        }
/**************************************************/


/**************************************************
* Cuadros resizable y draggable
***************************************************/
     .cuadro {
        position: absolute;
        bottom: 0;
        right: 0;
        height    : 250px;
        width     : 250px;
        background: #272822;

        box-shadow: 5px 5px 10px #535353;
        border: 1px silver;
        border-radius: 4px;

        overflow: hidden;
        z-index   : 17;
     }
     
     .cuadro-header {
       background: #272822;
       color: white;
       padding: 5px;
       cursor:move;

     }
     
     .cuadro-body {
        position: absolute;
        top: 30px;
        bottom: 15px;
        left: 0px;
        right: 0px;
        border-top: 1px solid #ccc;
     }
     
    .btn-cerrar{
        float: right;
        cursor: initial;

    }
    .btn-cerrar:hover{
        color: red;
    }
/**************************************************/





/* svg dendrograma*/
    svg{
        border: 1px solid #aaa;
    }
    .node circle{
        fill:white;
        stroke: YellowGreen;
        stroke-width:10.5px;
        padding: 20px;
    }
    .node{
        font: 10px Helvetica;

    }
    .link{
        fill:none;
        stroke: Wheat;
        stroke-width:1.5px;

    }
/**/